<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../assets/css/styles.css?v=1.0.3" rel="stylesheet" />

</head>

<body>
    <div class="flex-auto pb-2">
        <div class="flex flex-col overflow-x-auto">
            <div class=" w-full" style="height: 400px; ">
                <% if(data.length) { %>
                    <table class="w-full text-black text-center">
                        <tbody class="bg-white divide-y divide-gray-300" style="padding: 4px;">
                            <% for(var i=0; i< data.length; i++) { %>
                                <tr class="whitespace-nowrap">
                                <tr>
                                    <td style="padding-right: 0px;" rowspan="3" align="center">
                                        <img src="../eventos/Evento.png" class="rounded-2xl" width="500">
                                    </td>
                                    <td style="padding: 4px; padding-left: 0px;" colspan="3" align="center">
                                        <span
                                            style="font-size: x-large ;color: red; margin-bottom: 0px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                                            Evento:</span> <br>
                                        <span style="font-size: x-large; margin-bottom: 0px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                                            <%= data[i].nombre%>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 4px;" align="center">
                                        <span style="color: red; font-size: x-large;">Modalidad:</span> <br>
                                        <span style="font-size: x-large;">
                                            <%= data[i].modalidad%>
                                        </span>
                                    </td>
                                    <td style="padding: 4px;" align="center">
                                        <span style="color: red; font-size: x-large;">Duración:</span> <br>
                                        <span style="font-size: x-large;">
                                            <%= data[i].duracion%>
                                        </span>
                                    </td>
                                    <td style="padding: 4px;" align="center">
                                        <span style="color: red; font-size: x-large;">Costo:</span> <br>
                                        <span style="font-size: x-large;">
                                            S/.<%= data[i].costo%>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 4px;" colspan="3" align="center">
                                        <a href="/inscripevento/ <%=data[i].ideve%> "
                                            class="px-6 py-3 flex text-sm text-white rounded-xl shadow-soft-2xl"
                                            style="background-color: rgb(225, 9, 9); margin: 2px; width: 55%;">
                                            <img src="../img/editar.png" width="35" class="mr-4">
                                            <span style="margin-top: 3px; font-size: large;">Link de Inscripcion</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 20px;" colspan="4" align="center">
                                        <div class="bg-gray-600 rounded-xl h-0.5 text-white">-</div>
                                    </td>
                                </tr>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                    <% } %>

                        <!-- if result is empty -->
                        <% if(!data.length) { %>
                            <p class="text-center">No book found!</p>
                            <% } %>
            </div>
        </div>
    </div>

</body>

</html>