<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    <link href="../assets/css/styles.css?v=1.0.3" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>

<body>
    <div class="flex-auto">
        <div class="flex flex-col overflow-x-auto">
            <div class=" w-full" style="height: 340px;">
                <% if(data.length) { %>
                    <table class="w-full align-top border-gray-200 text-slate-600">

                        <thead class="align-bottom bg-black" style="position: sticky; top:0;">
                            <tr>
                                <th
                                    class="px-3 py-3 font-bold rounded-xl text-center uppercase align-middle bg-transparent border-b border-gray-200 text-size-xs border-b-solid tracking-none whitespace-nowrap text-white">
                                    #</th>
                                <th
                                    class="px-6 py-3 font-bold rounded-xl text-center uppercase align-middle bg-transparent border-b border-gray-200 text-size-xs border-b-solid tracking-none whitespace-nowrap text-white">
                                    Nombre del evento</th>
                                <th
                                    class="px-6 py-3 font-bold rounded-xl text-center uppercase align-middle bg-transparent border-b border-gray-200 text-size-xs border-b-solid tracking-none whitespace-nowrap text-white">
                                    Fecha</th>
                                <th
                                    class="px-6 py-3 font-bold rounded-xl text-center uppercase align-middle bg-transparent border-b border-gray-200 text-size-xs border-b-solid tracking-none whitespace-nowrap text-white">
                                    Modalidad</th>
                                <th
                                    class="px-6 py-3 font-bold rounded-xl text-center uppercase align-middle bg-transparent border-b border-gray-200 text-size-xs border-b-solid tracking-none whitespace-nowrap text-white">
                                    Accion</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-300">
                            <% for(var i=0; i< data.length; i++) { %>
                                <tr class="whitespace-nowrap">
                                    <th class="px-3 py-4 text-gray-500" scope="row">
                                        <%= (i+1) %>
                                    </th>
                                    <td class="px-3 py-4">
                                        <%= data[i].nombre%>
                                    </td>
                                    <td class="px-2 py-4">
                                        <%= data[i].fecha%>
                                    </td>
                                    <td class="py-4 text-center">
                                        <%= data[i].modalidad%>
                                    </td>
                                    <td class="px-2 py-1 flex justify-center">
                                        <a class="px-3 py-3 flex text-sm text-white rounded-xl"
                                            style="background-color: rgb(16, 137, 38); margin: 2px;"
                                            href="/edit/ <%=data[i].ideve%> ">
                                            <img src="../img/editar.png" width="25" class="mr-1">
                                            Editar</a>
                                        <button class="px-3 py-3 flex text-sm text-white rounded-xl"
                                            style="background-color: rgb(188, 13, 13); margin: 2px;"
                                            onclick="return showDialogWithPassingParams('<%=data[i].ideve%>')">
                                            <img src="../img/eliminar.png" width="20" class="mr-1">
                                            Eliminar</button>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                    <% } %>

                        <!-- if result is empty -->
                        <% if(!data.length) { %>
                            <p class="text-center">No book found!</p>
                            <% } %>
            </div>
        </div>
    </div>

    <script>

        function showDialogWithPassingParams(ideve) {
            Swal.fire({
                title: '¿Estás seguro?',
                text: "¡No podrás revertir esto!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    Swal.fire(
                        '',
                        'Se modificó correctamente',
                        icon = 'success',
                    ).then((result) => {
                        location.href = "/delete/" + ideve;
                    })
                }
            })
        }

    </script>

</body>

</html>